<% layout('../layouts/boilerplate') %>

    <body>
        <form action="/edit/<%= listing._id %>" method="post" class="addform">
            <h3>Edit outfit info</h3>
            <a href="/home" id="cross"><i class="ri-close-line"></i></a>
            <label style="color: rgba(135, 108, 108, 0.841);" for="title">Edit title :</label>
            <input type="text" name="title" id="title" value="<%= listing.title %>"  required><br>
            <label style="color: rgba(135, 108, 108, 0.841);" for="price">Edit price :</label>
            <input type="number" id="price" name="price" value="<%= listing.price %>" required><br>
           
            <label style="color: rgba(135, 108, 108, 0.841);" for="gender">This outfit is for : </label>
            <select name="gender" id="gender">
                <option value="male" <%=listing.gender==="male" ? "selected" : "" %>>Male</option>
                <option value="female" <%=listing.gender==="female" ? "selected" : "" %>>Female</option>
                <option value="unisex" <%=listing.gender==="Unisex" ? "selected" : "" %>>Unisex</option>
            </select><br>
            <label style="color: rgba(135, 108, 108, 0.841);" for="occasion">Select occasion : </label>
            <select name="occasion" id="occasion">
                <option value="regular" <%=listing.occasion==="regular" ? "selected" : "" %>>regular</option>
                <option value="upper" <%=listing.occasion==="upper" ? "selected" : "" %>>Upper</option>
                <option value="lower" <%=listing.occasion==="lower" ? "selected" : "" %>>Lower</option>
                <option value="accessories" <%=listing.occasion==="accessories" ? "selected" : "" %>>Accessories
                </option>
                <option value="summer" <%=listing.occasion==="summer" ? "selected" : "" %>>Summer</option>
                <option value="winter" <%=listing.occasion==="winter" ? "selected" : "" %>>Winter</option>
            </select><br>

            <input type="text" name="blink" value="<%= listing.blink%>" required><br>
            <textarea name="desc" id="" cols="" rows="5" required><%= listing.desc%></textarea>
            <button type="submit">Submit</button>
        </form>
    </body>